<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>

    <body>
        <div class="headliner">
            <h1>Eintrachts Duo: 2. offene Vereinsmeisterschaft</h1>
	    <h3>500m Schwimmen + 5km Laufen (Jagdstart)</h3>
        </div>

        <div class="wrap">
		<p>
			Auf Grund der aktuellen Situation sehen wir uns leider gezwungen unsere Vereinsmeisterschaft abzusagen. Wir hoffen ihr habt für unsere Eintscheidung Verständnis. 		
		</p>
		<p>
			Euer Triathlon-Team vom VfL Eintracht Hannover
		</p>
            {% if nor <=80 %}
                <button class="btn" type="button" onclick="window.location.href = '/register';">Anmeldung</button>
            {% else %}
                <button style="background-color: dimgrey;" class="btn" type="button" onclick="alert('Es tut uns sehr leid, aber alle Teilnehmen Plätze sind besetzt.');">Anmeldung</button>
            {% endif %}
            <button class="btn" type="button" onclick="window.location.href = '/dashboard';">Teilnehmerliste</button>
            <button class="btn" type="button" onclick="window.location.href = '/infos';">Infos</button>
        </div>
        
    </body>
</html>
